pytorch3d
numpy
pillow
tqdm
Ninja
trimesh
loguru==0.5.3
matplotlib==3.3.2
omegaconf==2.1.0.dev24
pandas==1.2.2
pyglet
pyrender==0.1.43
PyYAML==5.3.1
scenepic==1.0.2
smplx==0.1.26
tensorboardX==2.1
torch==1.9.1
torchvision==0.10.1
torchgeometry==0.1.2
torchaudio==0.9.1
cudatoolkit==11.3

git+https://github.com/otaheri/chamfer_distance.git
git+https://github.com/otaheri/MANO.git
git+https://github.com/otaheri/bps_torch.git
git+https://github.com/MPI-IS/mesh.git




